{% extends 'surgeforcast/base.html' %}

{% block content %}
  <button type="button" id="startBtn">Start Animation</button>
  <button type="button" id="stopBtn" >Stop Animation</button>
  <button type="button" id="resetBtn">Reset</button>


  <div id="AnimationTime">

  </div>

  <script type="text/javascript">

  var anim;
  var time_offset;
  time=0;

  /*function that animates the water inundation. 
    It receives the array of triangles, and the array of colors.
  */
  function animateKML(triangles,time_series,original_time,time_offset) {

    if (time>(time_series.length/triangles.length)-1){
      time = 0;
      time_offset.setMinutes(time_offset.getMinutes()- 1440)
      //console.log(time,time_offset);
    } 
    var k;
    for(k=0;k<triangles.length;k++){
      if(time_series[time*triangles.length+k][1]=='#00ffffff'){
        triangles[k].setOptions({fillOpacity: 0.0});
      }
      else if(time_series[time*triangles.length+k][1]!='#00ffffff'){
        triangles[k].setOptions({fillOpacity: 0.5});
      }
      triangles[k].setOptions({fillColor: '#'+ (time_series[time*triangles.length+k][1].substr(3))});
      triangles[k].setMap(map);
    }
    time++;
    time_offset.setMinutes(time_offset.getMinutes()+ 5)
    console.log(time_offset);
    document.getElementById("AnimationTime").innerHTML = time_offset
    anim=requestAnimationFrame(animateKML.bind(this,triangles,time_series,original_time,time_offset));
  }    


  function cancelAnimation(){
    cancelAnimationFrame(anim);
  }

  var files = ["https://raw.githubusercontent.com/savanah18/Storm-Surge-Files/f8b130ee565c684140adc27a72ea452b99936afa/kml%20files/fort.14"];

  {% for frame in all_surge_frame %} 
    time_offset = new Date('{{frame.date_time.year}}','{{frame.date_time.month}}' - 1 , '{{frame.date_time.day}}', '{{frame.date_time.hour}}', '{{frame.date_time.minute}}', 0, 0) 
    files.push('{{frame.customFile}}')

  {% endfor %}


  document.getElementById("AnimationTime").innerHTML = time_offset                    

  var allResults = [];

  var start=performance.now();
  for (var i = 0; i < files.length; i++)
  {   
      Papa.parse(files[i], {
          download: true,
          dynamicTyping: true,


          complete: function(results) {
              allResults.push(results.data);
              if (allResults.length == files.length)
              {
                var end=performance.now()
                console.log('delay',end-start);
                var triangles=[];
                console.log("finished");
                data=allResults[0]
                NE=data[1][0];
                NP=data[1][1]
                var j;
                for(j=0;j<NE;j++){
                  var triangle=new google.maps.Polygon({
                    paths:[{lat: data[data[NP+2+j][2]+1][2], lng: data[data[NP+2+j][2]+1][1]},{lat: data[data[NP+2+j][3]+1][2], lng: data[data[NP+2+j][3]+1][1]},{lat: data[data[NP+2+j][4]+1][2], lng: data[data[NP+2+j][4]+1][1]},{lat: data[data[NP+2+j][2]+1][2], lng: data[data[NP+2+j][2]+1][1]}],
                    strokeColor: '#000000',
                    strokeOpacity: 0,
                    strokeWeight: .5,
                    fillColor: '#000000',
                    fillOpacity: .5
                  })
                  triangles.push(triangle);
                  triangles[j].setMap(map);
                }


                time_series=allResults[1]
                var frame_num = (time_series.length - 1) / NE;

                var original_time=time_offset;

                
                var el = document.getElementById("startBtn");
                if (el.addEventListener)
                  el.addEventListener("click", animateKML.bind(this,triangles,time_series,original_time,time_offset), false);
                else if (el.attachEvent)
                  el.attachEvent('onclick', animateKML.bind(this,triangles,time_series,original_time,time_offset));  

                var el2 = document.getElementById("stopBtn");
                if (el2.addEventListener)
                  el2.addEventListener("click", cancelAnimation, false);
                else if (el2.attachEvent)
                  el2.attachEvent('onclick', cancelAnimation);
                //animateKML(triangles,time_series,original_time,time_offset);
              }
          }
      });
  }

  </script>
{%endblock%}